:root {
    --main-border: 2px solid black;
    --radius: 20px;
}


ul {
    list-style: none;
    padding: 0;
}

.main {
    border: var(--main-border);
    height: 800px;
    width: 800px;
    margin: auto;
    text-align: center;
    border-radius: var(--radius);
    background-color: #d7c6f6;
}

.heroimg {
        border: var(--main-border);
        border-radius: var(--radius);
    width: 400px;

}

.items {
    text-align: left;
    margin-top: 30px;
    padding-inline-start: 200px;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.menu li {
    font-size: 20px;
    padding: 10px;
}

.menu div {
    margin-top: auto;;
    margin-bottom: auto;
}

.display {
    display: flex;
    justify-content: space-around;
}

.profile {
    overflow: hidden;
    width: 300px;
    height: 400px;
    border: var(--main-border);
    border-radius: var(--radius);

}
