.main {
    border: 2px solid black;
    height: 800px;
    width: 800px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    background-color: #d7c6f6;
}

.heroimg {
        border: 2px solid black;
        border-radius: 20px;
    width: 400px;

}

.items {
    list-style: none;
    text-align: left;
    margin-top: 30px;
    padding-inline-start: 200px;
}