:root {
    --main-border: 2px solid black;
    --radius: 20px;
}

body{
    margin: 0;
    padding: 0;
}


ul {
    list-style: none;
    padding: 0;
}

.main {
    border: var(--main-border);
    height: 700px;
    width: 800px;
    margin: auto;
    text-align: center;
    border-radius: var(--radius);
    background-color: #d7c6f6;
}

.heroimg {
        border: var(--main-border);
        border-radius: var(--radius);
    width: 400px;

}

.items {
    text-align: left;
    margin-top: 30px;
    padding-inline-start: 200px;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.menu li {
    font-size: 20px;
    padding: 10px;
}

.menu div {
    margin-top: auto;
    margin-bottom: auto;
}

.display {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.profile {
    overflow: hidden;
    width: 400px;
    height: 400px;

}

.profile img {
    width: 50%;
    margin-top: 20px;
    border: var(--main-border);
    border-radius: var(--radius);
    height: auto;
}

nav {
    width: 800px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #cbcbeb;
    border: var(--main-border);
    border-top: none;
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    gap: 50px;
}

nav button {
    /* margin: auto; */
    height: 50px;
    width: 100px;
    border-bottom: none;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    background-color: #d7c6f6;
    font-size: 16px;
    cursor: pointer;
}

nav button:active {
    background-color: #dcacf3;
    border: 3px solid black;
    border-bottom: none;

}