ul {
    list-style: none;
    padding: 0;
}

.main {
    border: 2px solid black;
    height: 800px;
    width: 800px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    background-color: #d7c6f6;
}

.heroimg {
        border: 2px solid black;
        border-radius: 20px;
    width: 400px;

}

.items {
    text-align: left;
    margin-top: 30px;
    padding-inline-start: 200px;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.menu li {
    font-size: 20px;
    padding: 10px;
}

.menu div {
    margin-top: auto;;
    margin-bottom: auto;
}